/* Custom CSS to match your desired style */

/* Center align title */
.reveal .slides > section > h1:first-child::before {
    content: "";
    display: block;
    width: 250px;
    height: 250px;
    background-image: url('uofu.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 0 auto;
  }

.reveal h1 {
  font-size: 42px;
  color: #333333;
  text-align: center;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;

}

/* Adjust author and affiliation font */
.reveal .author, .reveal .institute {
  font-family: 'Arial', sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-top: 5px;
  color: #333333;
}

.reveal .slides section.nopadding {
    padding-top: 0 !important;
  }